[2012-12-14 19:00] shagwood opened #3 "Minor - Dead link on wiki"
FYI the link at the bottom of the Plugin Instance Discovery page on the wiki points to an internal netflix url.

At the bottom of this page
https://github.com/Netflix/Turbine/wiki/Plugging-in-your-own-InstanceDiscovery

points to here

http://github100.ops.netflix.com/poberai/Turbine/wiki/Configuration

[2012-12-14 19:02] shagwood commented on #3
I fixed it.

[2012-12-14 19:02] #3 closed, assigned to nobody

[2013-02-12 15:51] lennartkoopmann opened #6 "Can't find Turbine on Maven central"
http://search.maven.org/#search%7Cga%7C1%7Cturbine

What am I missing?

[2013-02-27 16:36] pparth commented on #6
+1
Anyone answer please?

[2013-02-27 17:43] opuneet commented on #6
Apologies for not getting back to you sooner. I'll work on getting a build of Turbine into maven, meanwhile you can download the source and just build the jar for turbine-core, or build the war for turbine-web which includes turbine-core.

I'll get back to you soon once I have the artifact in Maven, thanks!

[2013-02-27 23:09] opuneet commented on #6
I just released turbine-core and turbine-web artifacts. It can take a few hours to get into Maven. I'll post back when it shows up. Thanks for your patience.

[2013-02-28 06:48] pparth commented on #6
Thanks. It's up.

[2013-02-28 18:02] opuneet commented on #6
Cool, I'll close this issue.

[2013-02-28 18:02] #6 closed, assigned to nobody

[2013-03-01 10:46] lennartkoopmann commented on #6
Cool, thank you very much! :)

[2013-03-07 17:57] opuneet opened #9 "Turbine should support connecting to the same host on multiple ports for different logical clusters"
See issue on Hystrix for context
https://github.com/Netflix/Hystrix/issues/117

[2013-03-14 08:32] opuneet commented on #9
I've committed changes to Turbine to be able to support multiple logical clusters on the same host. This change is in commit
https://github.com/Netflix/Turbine/commit/d768ced2870b8e23ee28d6ebe1bdb4be590ec825

[2013-03-20 17:14] mcacker opened #13 "Internal server error when using InstanceDiscovery"
Hi, I have a custom InstanceDiscovery class, which has been deployed on the hystrix-dashboard/turbine server.  From the output of catalina.out (we're running on Tomcat), the InstanceDiscovery appears to be getting called successfully, but the hystrix-dashboard is reporting an internal server error:
##

[11:06:59.395] GET http://10.81.224.161:8080/hystrix-dashboard/proxy.stream?origin=http%3A%2F%2F

[2013-03-20 22:57] opuneet commented on #13
Hi @mcacker

Can you try connecting to the turbine stream directly?

try this

curl "http://{turbine host name} : {tomcat port} / turbine.stream?cluster={cluster name}"

You should get the hystrix data on the cmd line.

Thanks,
-Puneet

[2013-03-21 15:56] mcacker commented on #13
i'm now seeing this error:

INFO: Deploying web application archive /opt/apache-tomcat-7.0.34/webapps/turbine-web.war
Mar 21, 2013 3:45:32 PM org.apache.catalina.loader.WebappClassLoader validateJarFile
INFO: validateJarFile(/opt/tomcat/webapps/turbine-web/WEB-INF/lib/servlet-api-2.5.jar) - jar not loaded. See Servlet Spec 2.3, section 9.7.2. Offending class: javax/servlet/Servlet.class
SLF4J: Fai

[2013-03-21 16:16] mcacker commented on #13
ok, removed servlet-api.jar from the build, and now that error is gone, however, turbine-web still will not start:

INFO: Deploying web application archive /opt/apache-tomcat-7.0.34/webapps/turbine-web.war
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for f

[2013-03-21 16:37] mcacker commented on #13
I see this error in another log file.  it's puzzling as the jar which contains the class is included in the war:

SEVERE: Exception sending context initialized event to listener instance of class com.netflix.turbine.StartTurbineServer
java.lang.NoClassDefFoundError: org/codehaus/jackson/PrettyPrinter
        at com.netflix.turbine.data.meta.AggDataMetaInfoAdaptor.<init>(AggDataMetaInfoAdaptor.java

[2013-03-21 17:05] opuneet commented on #13
Hi @mcacker

[2013-03-21 17:06] opuneet commented on #13
Hi @mcacker

Sorry sent the earlier response to soon. I'll try starting the webapp myself and see if I run into similar problems.

Thanks,
-Puneet

[2013-03-26 00:46] opuneet commented on #13
Hi @mcacker

[2013-03-26 00:50] opuneet commented on #13
I'm unable to reproduce any error when running turbine-web.

I tried these steps

##### Ensure that the build.gradle for turbine-web looks like this, this will help run a local server

apply plugin: 'java'
apply plugin: 'war'
apply plugin: 'jetty'

[code]

jettyRun {
        httpPort = 7979
}
build.gradle (END)

##### Add the 2 required properties to your server, you can directly edit the code if

[2013-03-26 16:21] mcacker commented on #13
I am able to start Turbine if I don't configure my own Instance Discovery.  When I do that I end up with java.lang.NoClassDefFoundError: org/codehaus/jackson/PrettyPrinter

It looks like i'm having to include all the jars in my jar file that are already included in Turbine.  For example PrettyPrinter is already in the Turbine war.

I'm adding my jar to the Tomcat classpath in catalina.sh as follow

[2013-03-26 16:44] mcacker commented on #13
btw, i have the properties you mention above set in tomcat's setenv.sh:

JAVA_OPTS="$JAVA_OPTS -Dturbine.aggregator.clusterConfig=dev,alpha"
JAVA_OPTS="$JAVA_OPTS -DInstanceDiscovery.impl=com.pgi.bob.cache.BobServerInstances"
JAVA_OPTS="$JAVA_OPTS -Dturbine.instanceUrlSuffix=:8080/BobApp/hystrix/hystrix.stream"

[2013-03-26 18:22] opuneet commented on #13
I think that you are facing issues with packaging turbine-web, turbine-core along with your own tomcat based application.

The turbine-web module that is packaged and shipped with the Turbine release is more for demo purposes so that one can start playing with Turbine and seeing how it works. The build.gradle file dictates what dependencies to package in the turbine.war file and hence if you use t

[2013-03-27 15:02] mcacker commented on #13
thanks Puneet, I followed your instructions, built my own war, and it's all working now.

Mitchell

[2013-03-27 23:04] opuneet commented on #13
Cool, closing this issue.

[2013-03-27 23:04] #13 closed, assigned to nobody

[2013-05-22 19:28] OskarKjellin opened #15 "Missing eureka integration?"
According to the wiki, turbine uses eureka to find what instances to monitor. However, I cannot find any implementation of this in the source code. I could not find any dependency on eureka-core either...

Am I missing something or is the documentation incorrect and this part not yet open sourced? There should be no problem just implementing the eureka-plugin. Just wanted to check before as the do

[2013-06-11 00:28] cfregly commented on #15
+1 for this as I was under the same assumption, but can't seem to find the eureka impl.

@benjchristensen - any advice?  should one of us start writing this eureka-plugin?

thanks!

-chris

[2013-06-11 18:45] benjchristensen commented on #15
@opuneet Can you provide guidance on this please?

[2013-06-11 19:46] opuneet commented on #15
Yes, we have been using the Netflix Eureka service to discover instances in the cloud. The impl class was being used internally only, I haven't released it yet. I'll release this soon, stay tuned.

Thanks
-Puneet

[2013-06-11 19:48] opuneet commented on #15
I fixed the docs to be more clear. I'll fix them back when I check in the eureka impl.

Thanks

[2013-06-11 20:36] cfregly commented on #15
awesome!

is this something that will be released soon?  or should I switch
strategies in the short term?

context:  I'm speaking next week at Velocity and want to have this
integrated into my Flux Capacitor project for demo purposes.

thanks!

-Chris

On Tuesday, June 11, 2013, opuneet wrote:

[2013-06-11 21:22] opuneet commented on #15
I can have this commited by eod today. If that doesn't happen, I'll explicitly post back asking you to switch strategies. Thanks!

[2013-06-11 21:24] cfregly commented on #15
awesome awesome.

looking fw to it!

On Tuesday, June 11, 2013, opuneet wrote:

[2013-06-11 22:30] opuneet commented on #15
Just committed the change.
https://github.com/Netflix/Turbine/blob/master/turbine-contrib/src/main/java/com/netflix/turbine/discovery/EurekaInstanceDiscovery.java

I've added this to a new turbine-contrib module, but haven't had the chance to build this as a jar and release to maven et all just as yet.

[2013-06-11 22:59] cfregly commented on #15
thanks for the quick response.  I'll give this a try later today and let
know if I have any issues.

thanks again!

On Tuesday, June 11, 2013, opuneet wrote:

[2013-06-12 19:11] cfregly commented on #15
ok, so i gave the standalone webapp a try last night and - after adding some config properties files, i'm still seeing a null pointer at line 80 in EurekaInstanceDiscovery:

[code]

my hunch is that the DiscoveryClient is not being initialized properly.

the 2 config files i added to the classpath are as follows:

config.properties
   InstanceDiscovery.impl=com.netflix.turbine.discovery.EurekaInst

[2013-06-12 20:01] OskarKjellin commented on #15
@cfregly I am seeing the same thing. I am looking into modifying the code to make it work. The discovery client isn't being initialized at all..

I'll give an update when I have it working

[2013-06-12 20:26] OskarKjellin commented on #15
@cfregly I got a list of instances now for my app. All I needed to add was:
static {
        DiscoveryManager.getInstance().initComponent(new MyDataCenterInstanceConfig(), new DefaultEurekaClientConfig());
    }

However, the turbine stream is empty, just some meta. I keep getting some exceptions in the log tho
java.lang.NoClassDefFoundError: com/sun/jersey/api/client/RequestWriter$RequestEntityWr

[2013-06-12 20:29] opuneet commented on #15
You guys should not be getting an NPE, you need a more helpful error message. Will fix that.

And yes, we run our turbine webapp in the nextflix env using karyon, which sets up the plumbing for the eureka-client.
@cfregly  you will have to get that working on your side and it looks like @OskarKjellin just did that.

[2013-06-12 21:26] OskarKjellin commented on #15
Seems like it had to be in the constructor. Otherwise it is working other than I am getting a null ASG for the servers which makes them not appear in the list. Have to dig deeper into that

[2013-06-12 23:11] cfregly commented on #15
@OskarKjellin - i added the snippet of code that you suggested and instances are being discovered.  however, my turbine stream appears broken, as well.  i don't see your specific error, Oskar, but i just don't see any relevant data.

i did have an interesting situation where - because i'm using the same tomcat server to host eureka and turbine-web, i had a race condition where eureka had not yet f

[2013-06-12 23:13] cfregly commented on #15
also, my hosts appear UP in status:  http://admin.fluxcapacitor.com/eureka/v2/apps/

[2013-06-12 23:36] opuneet commented on #15
@cfregly yeah we could sit down together in the courtyard and make this work. However, I'm hoping that I can help you remotely as well, coz others may have similar problems and may not have the opportunity to swing by.

Here is where I would look next. Turbine will open connections to each of your servers. You need to look at that url path that it is using. Try curling that same path to make sure

[2013-06-13 00:04] cfregly commented on #15
this helps a lot, yes.

lemme look into this deeper. my asg name is definitely not, "default," so I suspect that's part of the issue.

I will also figure out the exact URL that turbine is connecting to.  this will be some form of /hystrix.stream, I assume.  I know turbine gives me a way to configure that URL, so I'll reverse-engineer and fix it.

thanks!

On Jun 12, 2013, at 4:36 PM, opuneet notif

[2013-06-13 09:03] OskarKjellin commented on #15
@cfregly @opuneet  I got it almost working using by setting my asgname to default and by adding this property:
turbine.instanceUrlSuffix.default=/hystrix.stream

However, it does not really seem pick up the right port. It tries to connect on port 80 while my apps are configure to use port 8080 in euereka. And for what I can see, the code in the eureka implementation does not get the port from eure

[2013-06-13 09:31] OskarKjellin commented on #15
Changed the code to:
String hostname = iInfo.getHostName() + ":" + iInfo.getPort();

And now everything works!

[2013-06-13 10:15] cfregly commented on #15
oh oh

On Jun 13, 2013, at 2:31 AM, OskarKjellin notifications@github.com wrote:

[2013-06-13 16:25] opuneet commented on #15
@OskarKjellin  cool, good to know that it's working.

Here is the code that Turbine uses to connect to the host
<code>
    public static InstanceUrlClosure ClusterConfigBasedUrlClosure = new InstanceUrlClosure() {
        private final DynamicStringProperty defaultUrlClosureConfig = DynamicPropertyFactory.getInstance().getStringProperty("turbine.instanceUrlSuffix", null);
        @Override

[2013-06-13 18:02] opuneet commented on #15
@OskarKjellin  and @cfregly  I hope this is going well now?
In light of this discussion, I've updated the wiki with a lot of helpful information (well hopefully).

Please see
https://github.com/Netflix/Turbine/wiki/Getting-Started
https://github.com/Netflix/Turbine/wiki/Configuration

And this should cover most of what we have discussed here, with neat and simple examples.

Please give me feedback

[2013-06-13 19:23] OskarKjellin commented on #15
@opuneet

All is working well. Haven't had the time to deploy it and connect the hystrix dashboard yet but the stream seems fine.

Yeah, I could just set the port for the suffix. But I don't like the double configuration. Eureka already knows my port so it could just use that one. But I see where you are going at.

Read the documentation and everything seems fine. Makes a lot more sense now and wo

[2013-06-13 19:49] opuneet commented on #15
@OskarKjellin    yes it should say Hystrix, just corrected that. Thanks! :)

[2013-06-14 04:36] cfregly commented on #15
update:  i've corrected the cluster/ASG configs.  i also had a security group issue that would have prevented my turbine instance from communicating with each individual EC2 instance discovered by eureka. the security group previously only allowed traffic from the ELB on port 80.  i opened this up to the public.

however, i'm still having an issue getting everything working together.  i see data c

[2013-06-14 05:13] opuneet commented on #15
@cfregly
I'm not sure why you are facing this problem, given your config.

The problem is the line that you point out
**Rertieved hosts from InstanceDiscovery: 0**

Here is the code that printed the log statements that you saw

[code]

The **marshallInstanceInfo** func is returning a null obj

[code]

hence you see the line  **Retrieved instances from discovery: 0**

Here is the exact code that pr

[2013-06-14 06:19] cfregly commented on #15
ok, i'm gonna get this setup on my laptop and debug it locally tonight.  thanks for pointing me in the right direction.

[2013-06-14 06:32] cfregly commented on #15
the ASG name is, indeed, null.  and looking at the eureka XML, i don't see ASG listed:

http://admin.fluxcapacitor.com/eureka/v2/apps

hmm.  lemme poke around the eureka code and configuration a bit.

[2013-06-14 06:52] opuneet commented on #15
Yes that seems like the problem. BTW, I'm not sure what your timeline is, but as a quick fix you can provide your own InstanceDiscoveryImpl class, that provides the list of instances. You can put the instance names in config of a file as well. But all this will be static of course.

[2013-06-14 06:56] cfregly commented on #15
ok, i found one way of working around this.

my apps need the following in their eureka-client.properties:

<pre><code>
#############################################
# Eureka Configuration
#############################################
eureka.asgName=awseb-e-jibiqnyrij-stack-AWSEBAutoScalingGroup-1UQ5NEX28Q5G
#############################################
</code></pre>

basically, each app's config

[2013-06-14 15:33] OskarKjellin commented on #15
@cfregly I was under the same assumption. Thought that the ASG was gotten using the ec2-tools but found that it was null when debugging.
A question for the eureka-team

[2013-06-14 16:39] opuneet commented on #15
@karthik-vn  can you shed some light on this?

I have 2 users here experiencing similar issues. The eureka-client is not fetching the asg information from the Application object

[2013-06-14 20:45] cfregly commented on #15
@karthik-vn:  my latest issue (after hard-coding the asg in the config) is that region is coming as "default" while querying "autoscaling." + region + ".amazonaws.com"

the autoscaling.default.amazonaws.com endpoint doesn't exist, obviously.  i tried hard-coding the eureka.region in the config, but that didnt seem to work.  is there another region property I need to set?

I spent quite a bit of ti

[2013-06-14 21:24] OskarKjellin commented on #15
@cfregly Can you not just use the describeInstances?
http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/ec2/model/Instance.html

That contains the public ip and dns

[2013-06-14 21:45] cfregly commented on #15
oh, interesting.

here is the Instance class I was working with last night using the ASG query API:

http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/autoscaling/model/Instance.html

diff package and doesn't contain the public ip/hostname.

I can work with this, however.  see - this is what happens when you shift direction at 3am!

lemme play with this a bit more while w

[2013-06-15 00:26] cfregly commented on #15
ok, bad news and good news.  bad news is that i can't figure out what's going on with the eureka-turbine integration.  i'm missing something.

the good news is that i wrote an AwsInstanceDiscovery impl that goes uses the AWS API to determine the instance list.  my impl currently uses the same turbine.aggregator.clusterConfig property as these are the same in this case.

here's the link:

http://ad

[2013-06-15 09:34] OskarKjellin commented on #15
@cfregly Cool, glad to see that you have it working!
Seems odd that you had to go such extremes to make it work.

[2013-06-15 11:10] karthik-vn commented on #15
Chris,

eureka.region is the property eureka looks for to find the region. We do
not query AWS APIs because of the number of instances and the problems that
this could create. Instead most of this information is set as environment
variables by launch configs and other things and then it is fed into eureka.

Thanks.

On Fri, Jun 14, 2013 at 1:46 PM, Chris Fregly notifications@github.comwrote:

[2013-06-17 00:50] cfregly commented on #15
@karthik-vn:  makes sense why you don't query the AWS API to auto-discover the ASG.  i knew i was missing something there.

i'm still having an issue w/ the "default" region - even though i set eureka.region.  i'll keep looking into this in the background.

@OskarKjellin:  have you successfully configured turbine end-to-end using the EurekaInstanceDiscovery impl?  I'm gonna stick with the AwsInsta

[2013-06-17 12:14] OskarKjellin commented on #15
@cfregly Well, I didn't connect my hystrix dashboard to it but I did get the messages from hystrix.stream into by turbine.stream. So I could see the circuit breaker names etc that I had configured for my instances and turbine wouldn't know them if it didn't work.

I added my config for eureka, my config for the apps and then the instanceUrlSuffix into the config. I modified the code to use the por

[2013-06-18 05:39] cfregly commented on #15
good news:  i scrubbed my environment, split hystrix and eureka into separate environments (ELB, ASG) and the turbine eureka implementation is now working properly.  still not exactly sure what the issue was, but moving on.

i still plan to commit the AwsInstanceDiscovery impl for those that are interested.

thanks for your help, everyone!

[2013-06-21 16:08] opuneet commented on #15
@cfregly
Good to see that this worked out, after all the effort. Please feel free to edit the wiki to provide more examples etc so that it is easier for others to work with the Netflix OSS components.

I'm closing this issue assuming that this is working for you.

[2013-06-21 16:08] #15 closed, assigned to nobody

[2013-06-21 16:08] opuneet commented on #15
closing

[2013-06-25 06:57] cfregly opened #17 "Add direct-to-AWS-ASG-API to retrieve list of instances to discover for a given cluster of hystrix servers for turbine to aggregate"
i'm almost done with this impl.  a few more tests tomorrow, then i'll submit a pull request.

[2013-06-26 23:35] opuneet commented on #17
@cfregly  I think you fixed this already, right?  :)

[2013-06-26 23:35] #17 closed, assigned to nobody

[2013-06-30 03:36] cfregly commented on #17
yup yup

[2013-07-24 22:12] opuneet commented on #9
I'm closing this out since there's been no activity on this for a long time. Please reopen if necessary.

[2013-07-24 22:12] #9 closed, assigned to opuneet

[2013-07-28 15:17] jhalterman opened #21 "Move all unit tests from /src/main to /src/test"
I noticed that unit tests are being bundled in the main distro. Ideally these, along with any testing related dependencies, should be moved to a separate source tree such as /src/test.

[2013-08-02 12:48] pmuellr opened #22 "describe the agregation algorithm"
The aggregation algorithm doesn't seem to be documented, except for here:

https://github.com/Netflix/Turbine/wiki/Design-and-Architecture

Under **Aggregation dimensions**, is the following:

[code]

[code]

However, running a few experiments, what I actually see is the turbine aggregator summing name/type/time-grouped metrics records.  Not averaging.  For the number properties.  Unclear how it h

[2013-08-06 10:35] pparth opened #23 "Failed to use placeholders in InstanceUrlSuffix when using EurekaInstanceDiscovery"
Hello,

Im using my version of EurekaInstanceDiscovery and im trying to enable the feature with the placeholders in InstanceUrlSuffix unsuccessfully.

I override marshallInstanceInfo() method to add an attribute that defines the Eureka port of an instance:

int port = iInfo.getPort();
instance.getAttributes().put("port", String.valueOf(port));

and in my config file i use:

aggregator
clusterConfi

[2013-08-12 06:58] pparth commented on #23
Anything on that please?

[2013-08-23 12:49] josephwilk opened #24 "Cannot use a InstanceDiscovery custom Class outside Turbine contrib"
I've been trying to add my own simple ServiceDiscovery class.

All it does is return an empty collection.

[code]

My config.properties:

[code]

I compile this and add it to my path when running turbine-web.war through Jetty.

[code]

I keep getting this error:

[code]

I've tried against the master branch (0.5) and against 0.4.

The only way I can get it to accept my InstanceDiscovery class to w

[2013-08-23 13:35] pparth commented on #24
Hello!

Use fully-qualified class name containing also the package name. e.g.

InstanceDiscovery.impl = packageName.ScInstanceDiscovery

[2013-08-23 14:13] josephwilk commented on #24
Hi,

In this example there is no package name. I compiled the class on its own.

I did try adding package names to see if that was a bug but it still gave me the same error.

[2013-08-26 06:05] pparth commented on #24
I use the same feature, and it works fine.
Also, Im not sure that you can go very far by not using packages in Java.

[2013-08-26 09:32] josephwilk commented on #24
Very odd, I've tried on different machines with the same problem. Is your example open source?
Can you perhaps provide some information on versions you are using.

This single class is as far as I need to go in this example so I don't plan on going very far with Java. :)

Thanks,

[2013-09-06 06:07] Xorlev commented on #23
@pparth Retracting my former statements, it looks like it should be working. Are you using the master version of Turbine or a release? The functionality only exists in master.

[2013-09-06 06:16] pparth commented on #23
I use 0.4 turbine-core as offered in the public maven repository.

[2013-09-06 06:39] pparth commented on #23
So, essentially, i need the latest com.netflix.turbine.monitor.instance.InstanceUrlClosure class?

[2013-09-06 13:44] Xorlev commented on #23
That's correct, the latest release does not include #19

[2013-12-12 19:46] rvangapal opened #29 "Turbine is unable to aggregate the response from clusters and write it back to response stream."
Hello,

I am planning to leverage hystrix dashboard and turbine which is very useful for us.

I am trying to configure turbine  to aggregate metrics from clustered hystrix service apps. For some reason, it's not working. I am not sure whether my config is wrong or is it a bug. As cluster config is failing, i tried to configure single node config. Even that is also failing.  I hope i have provided

[2013-12-25 21:10] rvangapal commented on #29
Hello turbine team,

When can you get a chance, can you please look into this and reply this?

Thanks,
Ravi

[2014-01-31 14:59] hmeerlo opened #32 "Logger NullPointerException"
Hi,

I try to use the 0.4 war of Turbine but it spits out NullPointerExceptions when it tries to log stuff:

[#|2014-01-31T15:16:05.885+0100|SEVERE|glassfish3.1.2|javax.enterprise.system.std.com.sun.enterprise.server.logging|_ThreadID=57;_ThreadName=Thread-2;|java.lang.NullPointerException
        at org.slf4j.impl.Log4jLoggerAdapter.info(Log4jLoggerAdapter.java:382)
        at com.netflix.turbine

[2014-07-09 15:41] joelittlejohn opened #34 "Release 0.5"
Hi guys, any chance of a 0.5 release being cut? It's been a while (~15 months) since 0.4 was released and there's been quite a few changes in that time (including the introduction of turbine-contrib).

[2014-07-11 13:26] joelittlejohn commented on #34
Are you able to publish a 0.5 SNAPSHOT anywhere? ~~(preferably after merging #35 :smile:)~~

[2014-09-02 19:31] joelittlejohn commented on #34
Hi @benjchristensen, I see you're kicking off 2.x development and getting the house in order. Do you think you'd be able to cut a final 0.5 release from the current 1.x branch?

[2014-09-02 19:34] benjchristensen commented on #34
Yes, I can do that. Will do it now.

[2014-09-02 19:56] benjchristensen commented on #34
Turbine 0.5 has been released.

[2014-09-02 19:56] #34 closed, assigned to nobody

[2014-09-02 20:20] joelittlejohn commented on #34
Thanks man!

[2014-09-03 16:07] benjchristensen opened #41 "Version 2.0 and Status Update"
An update on the status of this project ...

Version 0.x/1.x is being end-of-lifed at Netflix. It has been used in production without modifications for well over a year aggregating streams 24/7.

We are replacing it internally at Netflix with a larger stream processing system that is more generic in nature and the Turbine function will be replaced by a job on the new stream processing system.

How

[2014-09-12 16:26] contactarjun opened #46 "Turbine cluster Steam configuration"

[2014-09-14 14:43] scott-seo commented on #29
I had trouble with the downloaded version of turbine-web-1.0.0.war. I was seeing similar response from turbine as you. I read this post. https://github.com/Netflix/Turbine/issues/13

I built my own web app and then embedded turbine into it. that worked.

I also tried building war from Turbine/turbine-web project. that worked.

I had to make sure two things are set up correctly. first config.proper

[2014-09-15 16:11] benjchristensen commented on #29
What is wrong with turbine-web-1.0.0.war?

-- 
Ben Christensen - Netflix Edge Engineering
+1.310.782.5511  @benjchristensen

On September 14, 2014 at 7:43:20 AM, Scott Seo (notifications@github.com) wrote:

I had trouble with the downloaded version of turbine-web-1.0.0.war. I was seeing similar response from turbine as you. I read this post. #13

I built my own web app and then embedded turbine in

[2014-09-15 18:19] scott-seo commented on #29
[code]

that point. It's most likely my environment was wrong. All I was seeing was
pings like the person who filed this original post. I was not seeing [data]
responses from Turbine. BTW, I was connecting from my local environment to
AWS. The latency was over 3.5 seconds. Debug statement did say something
about skipping to catch up with the stream.

[code]

your engineers on post #13.

On Mon, Se

[2014-10-17 14:56] serzh opened #47 "gradlew build failed"
While bootstrapping project, I have encountered following error:

[code]

[2014-10-17 15:59] benjchristensen commented on #47
yes something is broken with the build config. It seems this might be the issue: "Set executable permissions for"

[2014-10-18 07:01] serzh commented on #47
Following the output, the problem might be

[code]

[2014-10-30 19:56] jeffastorey opened #48 "Turbine prevents tomcat shutdown"
I have Turbine deployed to a tomcat server, and when I run the shutdown.sh script, tomcat does not shutdown. The only app running in the server is Turbine. I am using the 1.0.0 version.

[2014-10-30 20:25] jeffastorey commented on #48
There appears to be a deadlock on shutdown. Relevant part of thread dump shown below

# Found one Java-level deadlock:

"pool-4-thread-1":
  waiting to lock monitor 0x00007f9214003238 (object 0x00000007aaf375c8, a org.apache.tomcat.util.net.SocketWrapper),
  which is held by "http-bio-8080-exec-1"
"http-bio-8080-exec-1":
  waiting to lock monitor 0x00007f92129a19a8 (object 0x00000007ac9e46d8, a co

[2014-10-30 21:04] benjchristensen commented on #48
At Netflix we never shut down an app server "gracefully", we always kill and restart a JVM, so "clean shutdown" has never been tested or used by us.

If you find a fix you'd like to make go ahead and submit a PR.

[2014-10-30 21:58] jeffastorey commented on #48
Ok, thanks. I'll take a look and see if it's worth the effort.

[2014-10-31 15:04] jeffastorey commented on #48
It doesn't seem like the deadlock happens every time, but the InstanceMonitor does not shut down cleanly and that does prevent the app from shutting down cleanly. I have created a PR for that. https://github.com/Netflix/Turbine/pull/49

[2014-10-31 22:38] carlanton opened #50 "Adding support for pushing metrics into Turbine"
Use-case: We are running services with Hystrix on Heroku and want to aggregate the metrics using Turbine. When you scale an application on Heroku, you run it on multiple dynos (~VMs). Unfortunately, you can not access a specific dyno and therefore it gets tricky when you want to pull metrics from all instances.

This problem could be solved by adding support for pushing metrics into Turbine. Maybe

[2014-11-11 20:24] pvenkatakrishnan opened #53 "Turbine build is failing due to a unit test failure"
com.netflix.hystrix.HystrixAsyncCommandTest > testRejectedViaThreadIsolation FAILED
    java.lang.AssertionError at HystrixAsyncCommandTest.java:4570

505 tests completed, 1 failed, 1 skipped
:hystrix-core:test FAILED

FAILURE: Build failed with an exception.

[2014-11-11 20:36] pvenkatakrishnan commented on #53
Built per https://github.com/Netflix/Turbine#build

[2014-11-11 20:40] pvenkatakrishnan commented on #53
never mind, i built the wrong project... but now i am seeing the same issue as https://github.com/Netflix/Turbine/issues/47 so i will follow the thread on there

[2014-11-11 20:40] #53 closed, assigned to nobody

[2014-11-11 20:41] pvenkatakrishnan commented on #47
Update: I was able to get Turbine to build successfully. Did a fresh clone and build again and things worked.
Previously, i noticed `mavenCentral() // maven { url 'http://jcenter.bintray.com' }` from `build.gradle` did not complete fine. And hence the next line `jcenter()` failed.
Unsure why the second time it worked.

~~I am seeing the same issue~~

[code]

~~Any tips on how to get it to build ?~

[2014-11-11 23:47] benjchristensen commented on #47
I think it is fixed here: https://github.com/Netflix/Turbine/pull/52

[2014-11-11 23:47] benjchristensen commented on #47
I am wrestling build issues to try and get artifacts out on Maven Central.

[2014-11-11 23:54] pvenkatakrishnan commented on #47
Thank you for all the great work!

[2014-11-12 02:19] benjchristensen commented on #47
2.0.0-DP.1 is on its way to Maven Central. I have no idea if this works properly ... this is just a preview release.

[2014-11-12 02:19] #47 closed, assigned to nobody

[2014-12-03 17:12] okarahan opened #60 "Configuration problem with turbine"
Hi,
I try to launch Turbine on my local environment, but did not succeeded. I use Spring Boot for my services and my Turbine.

My service which has the @EnableHystrix annotation gives a stream at his hystrix.stream endpoint.

However my Turbine stream is empty. It discovers my service but I didnt know whats going wrong there. Can someone give a simple introduction, I didn't find a good documentati

[2014-12-03 19:11] spencergibb commented on #60
@okarahan you should probably post a question like this on http://stackoverflow.com/questions/tagged/spring-cloud or if you have an issue with `spring-cloud-netflix` open an issue [there](https://github.com/spring-cloud/spring-cloud-netflix/issues)

[2014-12-04 08:14] okarahan commented on #60
Thank you, sorry for the post here.

[2014-12-04 08:14] #60 closed, assigned to nobody

[2014-12-12 00:14] benjchristensen commented on #50
I intend on supporting this in Turbine 2. It should be quite simple to add now with the new code.

[2014-12-12 00:19] spencergibb commented on #50
Cool.  We had a similar problem in cloud foundry.  We pushed the metrics to rabbitmq.  We have a turbine implementation that pulls from a queue: https://github.com/spring-cloud/spring-cloud-bus/tree/master/spring-cloud-bus-turbine/src/main/java/org/springframework/cloud/bus/turbine and on the hystrix client side that pushes to the queue: https://github.com/spring-cloud/spring-cloud-bus/tree/master

[2014-12-17 17:34] mattnelson opened #61 "Support aggregating events with decimal precision"
I want to use turbines aggregation with floating points(double or BigDecimal) rather than whole numbers. I couldn't find anything in the documentation that explicitly stated that only whole numbers are supported.

I have a fork of the 1.x branch that I have working with floating points. I know 1.x is EOL, but is this something that can be considered for 2.x?

[2014-12-17 17:57] benjchristensen commented on #61
In practice I have chosen to never attempt floating point math of this type and instead multiply to the decimal precision I want, use whole numbers for all math, then at display time add back the decimals.

[2014-12-19 00:37] mattnelson commented on #61
Thanks, we will convert our stream to follow your recommendation.

[2014-12-19 00:37] #61 closed, assigned to nobody

[2014-12-19 00:47] mattrjacobs opened #62 "Time skew"
Reported in https://github.com/Netflix/Hystrix/issues/325

Text from that issue:

@foobaar: For the longest time we couldn't get turbine to work.
Eventually we drilled down and found that we had a time skew issue between the servers we were running turbine on and the servers we were monitoring.

For certain reasons we decided not to fix the skew, but instead we realized that we can side step this

[2014-12-19 00:49] mattrjacobs opened #63 "Hystrix pushes metrics to Turbine"
Reported in : https://github.com/Netflix/Hystrix/issues/330

Text from that issue:

@carlanton: Hi!

We're trying to use Hystrix and Turbine on Heroku. On Heroku, you can't connect to a specific "Dyno" (application instance) and therefore it's tricky to pull the metrics from all Hystrix endpoints into Turbine.
Is it possible to configure Hystrix to push the metrics to Turbine instead? We want to u

[2015-01-05 21:10] mnuessler opened #66 "Wiki content gone / full of spam"
It seems that the wiki content has been overwritten with spam by somebody. Please restore the original content.

[2015-01-05 21:35] UnquietCode commented on #21
I'm guessing the answer from [Hystrix/147](https://github.com/Netflix/Hystrix/issues/147) applies here as well.

[2015-01-05 21:40] benjchristensen commented on #21
As of Hystrix 1.4 they have all been moved. Turbine 2 also moves them out. We are not going to do any further major work on Turbine 1.

[2015-01-05 21:40] #21 closed, assigned to nobody

[2015-01-07 21:10] cakeface commented on #66
Yes, please update the wiki content and fix the access.  Currently no useful documentation on the wiki.

[2015-01-07 21:52] x-goose-x commented on #66
As a stopgap, https://github.com/Netflix/Turbine/wiki/Home/5b3b846a6205d5af89d0e6129856392652d4d173 contains the last set of pages before the robots came.

[2015-01-07 21:57] benjchristensen commented on #66
I have reverted to the previous good state.

[2015-01-07 21:57] #66 closed, assigned to nobody

[2015-01-07 22:14] mnuessler commented on #50
We too would be very interested in support for pushing metrics into Turbine. Glad to hear it is already on the roadmap.

[2015-01-07 22:17] mnuessler commented on #63
Isn't this a duplicate of issue #50?

[2015-01-08 10:40] mnuessler commented on #22
I strongly agree that this information would be very useful.

[2015-01-21 17:52] contactarjun opened #87 "Turbine is not aggregating cluster environment url's with HTTPS protocol in Hystrix Dash board"
Hi ,
         Turbine aggregated out is not coming up in Hystrix dash board for cluster URL's starts with HTTPS protocol. Cluster URL's start with HTTP port are  good though.
we are using turbine core 1.0 jar in our turbine application .
 any help would be appreciated.Thanks in advance.

[2015-02-05 12:08] BertDuerinck opened #88 "Turbine can't aggregate from two microservices running on the same host on a different port"
I have two services running on the same host on a different port. Turbine Instance class doesn't uses port in the equals() and hashCode() only the host and cluster name. This causes problem when storing the two instances in a hashSet of the hostsUp.

Is there a workaround for this?

[2015-02-06 19:58] benjchristensen commented on #88
In v1 I don't think so, not easily at least. In v2 (which I have not had time to prove as production ready) it is easy since the stream of connections is far more abstracted and each can have their own host:port.

[2015-04-21 09:22] xxlabaza commented on #88
How about a **solution** for this problem?

I'm using Spring Cloud Turbine:

[code]

And have the next configuration for Turbine:

[code]

As you can see, I'm using Eureka Discovery service. My 'clientsample' instances start at localhost with server.port 8181 and 8282.

When I start Turbine it logs:

[code]

And it shows hystrix logs only for one 'clientsample' host (random choose) and ignore anot

[2015-04-21 20:53] benjchristensen commented on #88
This still does not have an official solution as it was not an original design requirement of Turbine which assumed a single process per machine (the norm in AWS cloud deployments which this was originally built against).

I want there to be a solution but it is not something getting any attention right now. If you want to submit a pull request that would be great. I personally think the work shou

[2015-04-22 12:11] JoelOtter opened #91 "Turbine does not forward auth headers to Hystrix instances"
The Hystrix dashboard offers an option to supply an auth token. One can then build a filter on the servlet running the hystrix-event-stream or Turbine, controlling access.

This works fine for either of these options, but if authorization is implemented on both, Turbine stops working - it doesn't, as far as I can tell, forward the access token given to it when it makes the requests to  the Hystrix

[2015-05-06 19:45] cmorse opened #92 "Link to EurekaInstanceDiscover on wiki is broken"
On this page in the wiki: https://github.com/Netflix/Turbine/wiki/Configuration-(1.x)

The link to [EurekaInstanceDiscovery](https://github.com/Netflix/Turbine/blob/1.x/turbine-contrib/src/main/java/com/netflix/turbine/discovery/EurekaInstanceDiscovery.java) links to the master branch instead of the 1.x branch.

[2015-07-15 09:29] jpcaruana opened #94 "turbine 1.0.0 does not work with hystrix metrics"
see https://github.com/Netflix/Hystrix/issues/703

using turbine 0.5 works perfectly

[2015-07-15 09:30] jpcaruana commented on #94
see also https://github.com/Netflix/Hystrix/issues/792

[2015-07-16 13:54] ulisses79 opened #95 "Turbine problem with two streams from two applications"
Please help me on that issue. I have two applications running on the same two hosts. Streams are different for these apps due to the fact that they have different set of HystrixCommands.
Each stream can be observed separately.
This is my config file:
turbine.aggregator.clusterConfig=news,weather

turbine.ConfigPropertyBasedDiscovery.urls.instances=two_hosts
turbine.ConfigPropertyBasedDiscovery.new

[2015-07-18 06:19] johanhaleby commented on #87
This doesn't work with Turbine 2 either. I've actually tried to implement support for it but I cannot get it to work. I can get SSL to work but _not_ when it's combined with SSE (server sent events) that Turbine is using. I've tried upgrading Netty, my JDK, and also the SSE implementation (since Turbine 2 is currently using deprecated classes) but none if it has helped so far. This is a real limit

[2015-07-19 13:18] johanhaleby commented on #87
Turned out that my code was correct but there was also a bug in RxNetty (which I've fixed). I've created a <a href="https://github.com/Netflix/Turbine/pull/96">pull request</a>.

[2015-07-20 10:38] karthik101 commented on #29
@scott-seo  I am trying to build turbine-web war but after building i cant find the created war. confused on to how build this web app.

[2015-07-20 10:57] karthik101 opened #97 "Build turbine-web app"
I have been trying to build turbine-web war file as the shipped turbine-web-1.0.0 does not seem to work for me and decided to compile it from source but cannot understand how to start.

" ./gradlew build " only builds but doesn't create any war file. If any of you guys could share on how to create turbine web war file and successfully deploy it.

[2015-07-23 13:12] karthik101 opened #98 "Turbine Stream Empty Ping"
We are using hystrix-dashboard-1.4.9.war and turbine-web-1.0.0.war in Jboss, after doing a curl request, What I have noticed is that, on the aggregated turbine stream, the turbine stream only publishes metrics for methods that have activity.

Is this something that can be configured differently or is this a bug with turbine?

In the example below, you see data for the operation called Updateidenti

[2015-08-18 17:36] abelnation opened #99 "Add stopServer method to Turbine class"
It would be nice to have a complimentary method to `startServerSentEventServer` so that proper daemons can be built utilizing the Turbine class methods.

[2015-08-24 07:46] sesto commented on #98
+1

[2015-09-18 16:39] burnison opened #100 "Backward compatibility of streams"
Unlike Turbine 1.x, Turbive v2.x does not aggregate property values, such as `propertyValue_metricsRollingStatisticalWindowInMilliseconds`. This means that streams produced by Turbine 2.x are not completely backward compatible with existing tools like hystrix-dashboard. Was this a forward-looking design decision or an oversight? Does it make sense to add a `version` attribute so that existing tool

[2015-10-02 18:29] jimm-porch opened #101 "Stream discovery in GCP/Kubernetes?"
I'd like to use Turbine to monitor a cluster instrumented with Hystrix.  Our cluster is using Kubernetes in Google Cloud Platform and it would be nice if stream discovery was easier, without requiring AWS Elastic IP addresses.

For example instead of Turbine/Eureka sniffing out servers as they come and go, I'd love it if our app could register with Turbine when it starts up.  And once the app disa

[2015-10-08 06:10] jmaasing commented on #95
That is by design, however it is a bad design :-(
I am having a similar issue. I use a config where I have a cluster with two hosts - works fine. However, I also have a use case where I want the streams from each of the two hosts separately.
So I set up three 'clusters' in the configuration. One cluster with the aggregation of the two hosts and two fake clusters with one host each. But only the fi

[2015-10-08 06:12] jmaasing commented on #95
Related to #88

[2015-11-18 21:27] Assk opened #103 "Building Turbine1.x branch using Java 8 results in Java doc lint errors"
[code]

[2015-11-18 21:30] Assk commented on #103
Adding following code to ./build.gradle does solve the problem:

[code]

[2015-11-26 23:25] codependent commented on #88
@benjchristensen I have come across this issue after posting in [Stackoverflow](http://stackoverflow.com/questions/33942534/spring-cloud-netflix-hystrix-turbine-not-getting-info-from-services-on-the-same) with this same problem. Any advance with this in v1?

[2015-11-27 23:11] codependent commented on #88
@benjchristensen  @xxlabaza @BertDuerinck I just submited a pull request solving this Issue.

Waiting for your feedback

[2015-12-13 11:49] davidkarlsen opened #106 "Make all required information available trough discovery"
Looking at https://github.com/Netflix/Turbine/wiki/Configuration-(1.x) - is it possible to provide:

-the actual clusters from instances (e.g. by returning someHost, someCluster for the instance) - will someCluster automatically pop up in turbine - or am I still required to define the cluster in the config files?

Also - the instanceUrlSuffix - can it be provided by discovery or does it have to co

[2016-02-09 10:01] johanhaleby opened #107 "Make a new release of 2.x branch"
I'd like to contribute Kubernetes service discovery but the latest Maven central release of Turbine 2.x (2.0.0-DP.2) doesn't include the [basic auth fix](https://github.com/Netflix/Turbine/pull/93) that I provided so I have to create this for my fork of Turbine. So please provide a new release if possible.

[2016-02-10 23:18] tianhongbo opened #108 "Spring cloud turbine.stream reports no data"
I have deployed the turbine service together with a cluster of "DEVICE-SERVICE" in the cloud. It works well at beginning (The Hystrix data can be viewed both at Hystix Dashboard and terminal). However, it broken after about one day running. I reboot turbine service, but it occurred again.

[code]

BTW:
When turbine service works well, the data can be viewed with the following:
1. On the Dashboard,

[2016-02-11 00:06] spencergibb commented on #108
The spring cloud netflix issues are here https://github.com/spring-cloud/spring-cloud-netflix/issues

[2016-02-19 12:52] caarlos0 commented on #24
I did it just fine in https://github.com/contaazul/turbine-ec2

[2016-03-02 18:40] aijanai opened #109 "Unable to load AWS credentials when using AWS auto discovery"
Hi guys,

I'm unable to make turbine see AWS credentials:
- editing the config file in tomcat at `/var/lib/tomcat7/webapps/turbine-web-1.0.0/WEB-INF/classes/config.properties`
- exporting the vars in the shell
- putting `.aws/credentials` file in root/ubuntu/tomcat users homes

nothing works, can't fetch servers from AutoScalingGroups.

Either I'm doing something really silly or there is something

[2016-06-10 11:31] RakeshAMore opened #110 "Turbine error "Enable to connect command matrix stream""
I am not sure this is right place to ask this question but i tried it on stackoverflow but no body is answering. Please assist me in below issue.

I am configuring hystrix turbine dashbord using ConfigPropertyBasedDiscovery . When I hit normal stream URL, it works fine
http://localhost:8080/turbine.stream?cluster=EXAMPLE

<img width="1431" alt="screen shot 2016-06-07 at 4 21 54 pm" src="https://cl

[2016-06-13 10:28] RakeshAMore commented on #110
I am able to configure other things but now I have only below issue.

{"timestamp":"2016-06-13T15:51:02.199+05:30","message":"Mapping servlet: 'proxyStreamServlet' to [/proxy.stream]","logger_name":"org.springframework.boot.context.embedded.ServletRegistrationBean","thread_name":"localhost-startStop-1","level":"INFO","HOSTNAME":"myhostName"}
{"timestamp":"2016-06-13T15:51:10.088+05:30","message":"

[2016-06-13 16:04] spencergibb commented on #110
@Masterking that error is a spring error, not netflix.

[2016-06-14 06:17] RakeshAMore commented on #110
Yes, you are right :)
Actually my problem is "/proxy.stream" is not working for me. It simply loads blank page and there is not content type set for it when I look in to network tab.

[2016-06-14 09:43] RakeshAMore commented on #110
Issue resolved. Thanks for you help!!!!

[2016-06-14 09:43] #110 closed, assigned to nobody

[2016-07-22 07:43] Pratibha-28 opened #111 "Java error while running ./gradlew build"
Currently I am working on cf-abacus, push all abacus apps on cloud foundry version 238.
Using Ubuntu.
To use Turbine  followed steps mentioned in https://github.com/cloudfoundry-incubator/cf-abacus/blob/master/doc/monitor.md
I updated ./turbine-web/src/main/webapp/WEB-INF/classes/config.properties file.
run ./gradlew build from Turbine directory, Current jdk version is 8.
I am facing below errors,

[2016-07-22 08:41] Pratibha-28 commented on #111
When i faced above issue, i referred https://github.com/Netflix/Turbine/issues/103
and did changes in Turbine/turbine-web/build.gradle. but still getting same errors
Below is content of   Turbine/turbine-web/build.gradle
apply plugin: 'java'
apply plugin: 'war'
apply plugin: 'jetty'

if (JavaVersion.current().isJava8Compatible()) {
  allprojects {
    tasks.withType(Javadoc) {
      options.addStr

[2016-07-22 11:02] Pratibha-28 commented on #111
Below is content of /turbine-web/src/main/webapp/WEB-INF/classes/config.properties
#################################

# Turbine

#################################

# instance discovery implementation

InstanceDiscovery.impl=com.netflix.turbine.discovery.ConfigPropertyBasedDiscovery

# turbine clusters

# these are what you pass to the turbine URL when viewing the turbine/hystrix dashboard.

# ie.

[2016-07-22 11:08] Pratibha-28 commented on #111
@sasrin can you help me on this issue

[2016-07-22 11:41] Pratibha-28 commented on #111
I checked the code in Turbine/build.gradle in branch 1.x which is commited by @sasrin.
and made changes in Turbine/build.gradle present in my dir and it worked good.
So closing this issue.

[2016-07-22 11:41] #111 closed, assigned to nobody

[2016-08-29 07:20] mohan-mishra commented on #97
@karthik101  were you able to do this?

[2016-08-29 07:24] mohan-mishra opened #112 "Turbine war not working"
I am able to use turbine by using its jar in my webapp. But when I use turbine's war instead, I get a error saying cluster not found. @benjchristensen @Xorlev

**HTTP Status 404 - Cluster not found**

[2016-08-29 08:26] tjuchniewicz opened #113 "Same commandKey but different groupKey but only one chart displayed"
When using Turbine I have following scenario (I'm using `@FeignClient` in my apps):
- CLIENT_APP registers "receive" and it is displayed correctly in dashboard (in my case this commandKey is used by `@FeignClient` to make calls to SERVICE_APP).
- SERVICE_APP registers its own "receive" but it is not displayed.
- We make some calls from CLIENT_APP to SERVICE_APP . "receive" (from CLIENT_APP) increm

[2016-08-29 09:12] mohan-mishra commented on #29
@scott-seo  I too am unable to make the war. Could you please help

[2016-09-22 13:03] myf008 opened #114 "config several clusters, but only one cluster can work"
I use  turbine-web-1.0.0.war to monit hystrix, and i found that i config several clusters, but only one cluster can work, the config.properties like this :

`turbine.aggregator.clusterConfig=aaa,bbb
turbine.ConfigPropertyBasedDiscovery.aaa.instances=host1,host2
turbine.instanceUrlSuffix.aaa=:3000/hystrix.stream
turbine.ConfigPropertyBasedDiscovery.bbb.instances=host3,host4
turbine.instanceUrlSuffi

[2016-10-12 16:01] tjuchniewicz commented on #113
The real problem is that I use different services on the same host. Closing as duplicate of https://github.com/Netflix/Turbine/issues/88.

[2016-10-12 16:01] #113 closed, assigned to nobody

[2016-11-21 07:13] govindps commented on #50
We are also looking for this feature.
Is it implemented in Turbine 2?

[2016-11-21 12:54] billybong commented on #110
@RakeshAMore could you elaborate on the solution to your problem? I'm facing the same issue with Hystrix 1.5.5.

[2016-11-23 09:08] RakeshAMore commented on #110
In my case it was because I had Filter which was holding response to operations before committing it, hence I just skip proxy.stream from it.
In addition you may also check is there any authentication in your service.

[2016-11-23 09:10] billybong commented on #110
Thanks @RakeshAMore. In my case it was due to blacklisting apache httpclient default useragent. The problem was in the proxyservlet that Spring intercepts calls against hystrix.stream with.

[2016-11-25 08:13] maxwelltan commented on #97
why i can't find the turbine-web module in the Turbine project, only has turbine-core and turbine-ext.
are the wiki of https://github.com/Netflix/Hystrix/wiki/Dashboard#build-1 deprecated.

[2016-11-25 08:13] maxwelltan opened #115 "why turbine-web module not exists"
why i can't find the turbine-web module in the Turbine project, only has turbine-core and turbine-ext.
are the wiki of https://github.com/Netflix/Hystrix/wiki/Dashboard#build-1 deprecated.

[2016-11-25 09:20] #115 closed, assigned to nobody

[2016-11-25 09:21] maxwelltan commented on #115
it's my wrong checkout the branch.

[2016-12-05 15:34] karthik101 commented on #97
@mohan-mishra No, I used the shipped one by netflix and It worked after i removed one file ( Causing tomcat/jboss launch issues - Its been a year i don't remember correctly) using VIM editor.

[2016-12-28 14:56] PBondugula opened #116 "Turbine and hystrix for multiple instances"
I am trying to register multiple instances to spring admin server and trying to read turbine stream.

I am able to get the hystrix.stream after serving first request.

I am able to get the turbine stream with below URL:
http://localhost:8080/springadmins/api/turbine/stream?cluster=app1-dev

Below is the configuration for turbine.

config.properties - I didn't configure any properties.

---> applic

[2017-01-19 18:44] JagmohanSharma opened #117 "Instance monitor init() giving response code other then 200 without response message"
@ryanjbaxter and @spencergibb Reference to another misplaced issue
https://github.com/spring-cloud/spring-cloud-netflix/issues/1631

which is closed to have discussion on the right place as in turbine-core.

[2017-01-19 18:45] JagmohanSharma commented on #117
[https://github.com/spring-cloud/spring-cloud-netflix/issues/1631](url)

[2017-01-23 05:40] JagmohanSharma commented on #117
Can somebody help in this issue? it bit urgent to get it resolved for us. Or tell me if this contains wrong information or at wrong place to be asked?

[2017-01-24 18:21] JagmohanSharma commented on #117
Please let me know if it not allowed to post issues here?

[2017-01-24 18:25] spencergibb commented on #117
Turbine isn't maintained much anymore.

[2017-01-24 18:26] spencergibb opened #118 "Document that this project is inactive."
Like ribbon is https://github.com/Netflix/ribbon#project-status-on-maintenance and https://github.com/Netflix/ribbon/blob/master/OSSMETADATA

[2017-01-26 13:19] jwconway opened #119 "SSE not streaming to hystrix dashboard when turbine running in a docker container"
I am running a turbine server app. When I run this app from my IDE i see the SSE streaming in my browser on localhost:8989.

When i deploy this application using docker the browser hangs forever. I do see the following in the console output:
[code]

And when i eventually close my browser tab:
[code]
What makes this even more confusing is that if i open fiddler and try to connect again (to dockeris

[2017-01-26 18:13] jwconway commented on #119
It seems that the version of RxNetty that turbine is using is causing the issue. I don't see this issue with a simple RxNetty sse server in a container.

I'm going to see if I can create a couple of projects to prove this

FYI @spencergibb

[2017-01-27 12:00] JagmohanSharma commented on #117
I got one more issue here , as while reading stream through /turbine.stream endpoint for any cluster , if user close this through browser , it throws ClientAbortException with message as "java.io.IOException: Broken pipe". Now as in TurbineStreamingConnection as we have catch block to handle this and we are checking as

                                       catch (Exception e) {

[2017-01-27 18:20] JagmohanSharma commented on #117
if this project is not being maintained then how would issues with this be resolved? As many would be using turbine application to have an aggregated view of hystrix circuit breaker dashboard.

Or is there any way to get the same functionality without using Turbine anymore?

[2017-01-28 11:02] JagmohanSharma commented on #118
if this project is not being maintained then how would issues with this be resolved? As many would be using turbine application to have an aggregated view of hystrix circuit breaker dashboard.

Or is there any way to get the same functionality without using Turbine anymore?

[2017-04-06 03:37] hugomd commented on #118
@JagmohanSharma  I'm also wondering this — perhaps there are other implementations?

[2017-06-21 22:42] hamza-elyaaqoubi opened #121 "Aggregate multi hosts failed"
Hello,
I have a problem with my turbine aggregator :

I have Eureka Server which started on 7200 port.
I have also my war which is started on 7580 port. This war contains turbine annotation, cirtuitBreaker, dashboard and eurekaClient

When I run juste the war with eureka server, I'm able to see aggregated stream with turbine in localhot:7580/turbine.stream?cluster=MyService
The dashboard shows onl

[2017-06-21 22:46] hamza-elyaaqoubi commented on #116
Hello, have you get a response for your response ? I think that I have the same problem. Thanks the share the solution.

[2017-06-21 22:51] hamzaELY commented on #121
spencergibb

[2017-06-21 22:55] hamza-elyaaqoubi commented on #121
@benjchristensen any help please?

[2017-07-24 16:17] ghost opened #122 "Turbine Aggregator for 2 versions of same application"
Hello All,

I have an use case where we deploy two versions of same application say V1 and V2. I would like to aggregate hystrix stream using turbine, but I need to display the results of V1 and V2 in two different columns in same turbine dashboard.
Any help?

Note: I have achieved this by doing below

groupKey="v1.0", commandKey="Class.method_v1.0" for V1
groupKey="v2.0", commandKey="Class.method

[2017-08-22 18:49] srinuk1246 opened #123 "Publishing the Aggregated metrics from Turbine application to Graphite"
I am running multiple servers that generate hystrix metrics and have a different server for running the turbine. I am wondering if adding the below plugin in the turbine application helps in publishing the aggregated data to Graphite/ any similar one using HystrixServoMetricsPublisher.

I haven't found any documentation or articles about the turbine aggregated metrics getting published to Graphite

[2017-09-15 11:50] tjuchniewicz commented on #121
Try:
[code]

[2017-12-17 22:49] Matiasmct commented on #91
Hi,

I know this is an old issue, but I'm having a similar problem/doubt.
Is there any way to pass an authentication token to Turbine so that it can talk to the streams, same way you can do it through the Hystrix dashboard GUI? I couldn't find it in the documentation.

Thanks,

[2018-01-15 01:47] hibicus8888 opened #124 "How to dynamically add the monitoring of the cluster?"
I want to dynamically add monitoring clusters when the program is running, and I tried to modify the configuration when the program is running, but it doesn't work.

[2018-01-17 11:26] fywb0130 opened #125 "request rate of host & cluster only of half of the actual value"
I use turbine to monitor a cluster of tow instance, the request rate of host & cluster in turbine dashboard just equal to the value in the hystirx dashboard of a single instance. It means that when I sum the value of two instance, the request rate of host & cluster in turbine dashboard is only half of the acture value.

![default](https://user-images.githubusercontent.com/1791815/35039730-624d8178

[2018-03-05 10:15] tjuchniewicz commented on #125
This issue is probably related to this bug: https://github.com/Netflix/Hystrix/issues/1697

[2018-06-08 08:11] northhead commented on #124
+1

[2018-07-11 08:56] haoleng commented on #124
+1

[2018-08-12 01:29] BarathArivazhagan opened #127 "ConfigPropertyBasedDiscovery: support hostname with port"
while building the list of instances for ConfigPropertyBasedDiscovery, is it possible to support port as part of hostname  instead of reading ports from attributes property of Instance?

FROM

[code]

To

[code]

Tweaking below code might do the trick:

[code]
or else provide the users on how to  set the port explicitly as part of property for ConfigPropertyBasedDiscovery rather than providing cus

[2018-09-03 16:08] ghost commented on #110
@billybong @RakeshAMore - Could you please guide me on
https://stackoverflow.com/questions/52137023/unable-to-connect-to-command-metric-stream-in-spring-cloud-hystrix-turbine

[2018-11-20 06:33] yihaoshi opened #128 "turbine broke pipe"
org.apache.catalina.connector.ClientAbortException: java.io.IOException: Broken pipe
	at org.apache.catalina.connector.OutputBuffer.doFlush(OutputBuffer.java:321) ~[tomcat-embed-core-8.5.29.jar:8.5.29]
	at org.apache.catalina.connector.OutputBuffer.flush(OutputBuffer.java:284) ~[tomcat-embed-core-8.5.29.jar:8.5.29]
	at org.apache.catalina.connector.Response.flushBuffer(Response.java:541) ~[tomcat-

[2018-11-27 17:24] mukulbansal93 commented on #128
Possible duplicate of #95

[2019-01-18 11:40] limeng546364 opened #129 "High CPU usage"
hello
           There were some problems with turbine ，After running for some time, the CPU usage is extremely high，

jstack pid detail

[stack.txt](https://github.com/Netflix/Turbine/files/2772775/stack.txt)

[2019-01-19 06:40] limeng546364 commented on #129
![image](https://user-images.githubusercontent.com/13583921/51423246-0f0f2180-1bf8-11e9-9710-3e2587966e6c.png)
![image](https://user-images.githubusercontent.com/13583921/51423248-17675c80-1bf8-11e9-96e0-994eee3a13b5.png)

[2019-02-11 06:39] yikangfeng opened #130 "Can turbine itself be deployed in clusters？"
Can turbine itself be deployed in clusters?Thank you.

[2019-03-15 12:24] mahesh031 commented on #114
facing the same issue, are you able to resolve this issue?

[2019-04-22 12:04] Shoohei opened #131 "Wrong mixed circuit names are displayed in the Dashboard"
Hi everyone,

Here is my issue:
I have around 100 instances and one Turbine server that aggregate the 100 hystrix stream.
Unfortunately, some wrong mixed circuit name (and threadpool names) appear in the dashboard and stay until reboot.
For example, I have several circuits names:
- apple
- pear
- banana
- etc...
<img width="250" alt="Screen Shot 2019-04-22 at 20 58 39" src="https://user-images.git

[2019-04-29 05:27] ddkcstream opened #132 "turbine localhost run correct while in docker container no stream send"
turbine localhost run correct while in docker container no stream send

[2019-07-22 11:19] caochuangui opened #133 "is Turbine 2.0.x release only support eureka?"
Turbine 1.0.x release support ConfigPropertyBasedDiscovery and FileBasedInstanceDiscovery. Turbine 2.0.x release not support

[2020-12-21 10:13] sikgxc opened #134 "[BUG] Hystrix dashboard and turbine always shows loading... because IE browser can't support EventSource!"
When I consumed a service from a producer by my spring-cloud program, I used Hystrix dashboard and turbine to show the detail of the called service. Firefox or Chrome browser can show the chart successly, but IE browser always showed loading... Then I debugged by 'F12' and checked, I found the reason was that IE browser can't support EventSource. So the hystrix dashboard can't showed correctly. Co

[2021-05-24 12:31] IsraelSanMartinTR opened #135 "Vulnerability in Spring dependency 'jackson-mapper-asl 1.9.2'"
Our security scanner (Veracode) revealed a vulnerability in jackson-mapper-asl 1.9.2 which is a dependency of org.springframework.cloud:spring-cloud-starter-netflix-turbine:2.2.8.RELEASE (last version).

Please, I want to ask you to update spring-cloud-starter-netflix-turbine library with a secure version of jackson-databind, cause jackson-mapper-asl is deprecated and contains many security flaws